# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Docker image archives
*.tar

# Kubernetes local/runtime files
*.log

# Istio installation
k3s/istio-*/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
